tr{
    padding: 5px 0px 5px 0px !important;
    height: 50px;
}



.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3000px;
}