<div align="center">
<h1>Welcome to my First {{title}}</h1><br/>
<form>

  <h1>Hi!!!{{val}}</h1>
  <div align="center">
    <table>
      <tr>
        <td>Name :</td>
        <td><input type="text" ngmodel></td>
      </tr>
      <tr>
        <td>Email :</td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td>Phone :</td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td>Address :</td>
        <td><input type="text"></td>
      </tr>
     <tr></tr>
    </table>
    <button class="btn btn-primary">Bootstraped styled button</button>
  </div>
</form>



  

</div>